* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* body{
    height: 1000px;
} */

/* Navbar */

.logo {
    width: 15%;
}

.navbar-brand img {
    width: 100%;
    /* padding-left: 45px; */
}

.nav-item {
    padding-left: 25px;
}

/* End Navbar */

/* Slider */

.carousel {
    /* margin: 4rem; */
    margin-top: 1rem;
    position: relative;
    margin-bottom: 4rem;
}

.carousel-inner img {
    position: absolute;
}

.carousel-item {
    height: 33rem;
}

/* End Slider */

/* contact */

.contact {
    padding-bottom: 4rem;
}

.contact-image img {
    width: 100%;
    border-radius: 10px;
}

.contact-header {
    margin-bottom: 4rem;
}

.contact-header h1 {
    color: rgb(157, 56, 74);
}


.contact-content {
    display: flex;
    align-items: center;
}

.contact-text {
    font-size: 25px;
}

.contact-text i {
    font-size: 35px;
    padding-left: 20px;
    color: rgb(157, 56, 74);
}

.contact-text i:hover {
    color: rgb(23, 167, 23);
}

.contact-text h2 {
    margin-bottom: 1rem;
}

.contact-text p {
    color: rgb(151, 150, 150);
}

.contact-text .keyword {
    color: rgb(157, 56, 74);
}

/* end contact */

/* reviews */

.checked {
    color: orange;
    font-size: 15px;
}

.reviews {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(248, 246, 246);
    overflow: hidden;
    margin-bottom: 4rem;
}

.review-item {
    background-color: white;
    padding: 16px;
    margin: 15px;
    box-shadow: 1px 1px 5px #b9b9b9;
}

.review-item .review-date {
    color: #cecece;
}

.review-item .review-text {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    color: #343a40;
    margin-bottom: 0.5rem;
}

.review-item .reviewer {
    width: 90px;
    height: 90px;
    border: 1px solid #cecece;
}

/* end reviews */

@media screen and (max-width: 768px) {
    .carousel-item {
        height: 15rem;
    }

    .contact-text {
        padding-left: 29px;
    }

    .contact-text h2 {
        padding-top: 25px;
    }
}