* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* body{
    height: 1000px;
} */

/* Navbar */

.logo {
    width: 15%;
}

.navbar-brand img {
    width: 100%;
    /* padding-left: 45px; */
}

.nav-item {
    padding-left: 25px;
}

/* End Navbar */

/* Slider */

.carousel {
    /* margin: 4rem; */
    margin-top: 1rem;
    position: relative;
    margin-bottom: 4rem;
}

.carousel-inner img {
    position: absolute;
}

.carousel-item {
    height: 33rem;
}

/* End Slider */

/* contact */

.contact {
    padding-bottom: 4rem;
}

.contact-image img {
    width: 100%;
    border-radius: 10px;
}

.contact-header {
    margin-bottom: 4rem;
}

.contact-header h1 {
    color: rgb(157, 56, 74);
}


.contact-content {
    display: flex;
    align-items: center;
}

.contact-text {
    font-size: 25px;
}

.contact-text h2 {
    margin-bottom: 1rem;
}

.contact-text p {
    color: rgb(151, 150, 150);
}

.contact-text .keyword {
    color: rgb(157, 56, 74);
}

/* end contact */